<h1>Stories</h1>
<div class="row">
    {{#each stories}}
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <!-- {{!-- todo editIcon --}} -->
                </div>
                <div class="card-content center-align">
                    <h5>{{title}}</h5>
                    <p>{{body}}</p>
                    <br>
                    <div class="chip">
                        <img src="{{user.image}}" alt="">
                    </div>
                </div>
            </div>
        </div>
    {{else}}
    <p>No Stories to display</p>
    {{each}}
</div>